<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
     
<bean id="ms" class="com.deloitte.spring.MessageSender">
<property name="smsCharge" value="1.5"/>
<property name="mmsCharge" value="3.5"/>
</bean>

<bean class="com.deloitte.spring.Airtel" id="airtel">
<property name="callCharge" value=".85"/>
<property name="speed" value="5.2"/>
<property name="ms" ref="ms"/>
</bean>


<bean class="com.deloitte.spring.VodafoneSim" id="vodafone">
<property name="callCharge" value=".60"/>
<property name="speed" value="8.2"/>
<property name="ms" ref="ms"/>
</bean>

</beans>